* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  background: #7159c1;
  font-family: sans-serif;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 2rem;
}

nav ul li {
  list-style: none;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header{
  border: solid;
}

main {
  text-align: center;
  border: solid ;

}

footer{
  border: solid ;
}





